.Navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* */
  .Left-Navbar ul,
  .Right-Navbar ul 
  {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }
  
  .Left-Navbar ul li,
  .Right-Navbar ul li 
  {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 24px 14px;
    font-size: 1.2em;
  }
  
  .Left-Navbar ul li button,
  .Right-Navbar ul li button 
  {
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6em;
  }
  

  .Right-Navbar ul li button:hover 
  {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
  }
  